a,a:hover,a:visited{color:#282828}
.breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper>.widget, .page-wrapper>.page-bottom, .block.category.event, .top-container, .page-main{    max-width: 1430px;    padding-left: 0;padding-right: 0;}
.action.primary,.action.primary:hover,.action.primary:focus, .action.primary:active{    color: #fff;background: #282828;
    border:none;    padding: 0;    outline: none;}
.action.primary:hover{opacity: 0.8;}
.container{max-width: 1430px;}
.page-header{background: #282828;color: #fff;}
.header.content{    max-width: 100%;}
.header.content a{    color: #fff;
    font-weight: normal;}
.cart-login{float: right;
    width: 100%;
    margin-bottom: 15px;}
.login-block a{font-size: 14px;
    text-transform: uppercase;}
.header-static{    margin-top: 8px;
    margin-right: 30px;}
.header-static p{margin: 0;
    color: #fff;
    font-size: 12px;}
currency-block{    margin-top: 10px;}
.block-search input[type="text"]{background: transparent;
    border: none;
    border-bottom: 1px solid #fff;color: #fff;font-size: 14px;    padding: 0;}
.block-search input[type="text"]::-webkit-input-placeholder {
    color: #fff;
    font-family: Roboto, sans-serifif;
}
.block-search input[type="text"]:-moz-placeholder {
    color: #fff;
    font-family: Roboto, sans-serif;
}
.block-search input[type="text"]::-moz-placeholder {
    color: #fff;
    font-family: Roboto, sans-serif;
    opacity: 1;
}
.block-search input[type="text"]:-ms-input-placeholder {
    color: #fff;
    font-family: Roboto, sans-serif;
}
.se-block{    position: absolute;
    bottom: -35px;
    right: 15px;}
.block-search .action.search:before{color: #fff;}
.navigation .level0>.level-top{    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;color: #fff;line-height: normal;padding: 10px 25px;border: 1px solid transparent;
    border-bottom: none;}
.navigation .level0.parent>.level-top{padding: 10px 25px;}
.navigation .level0>.level-top:hover, .navigation .level0>.level-top.ui-state-focus,.navigation .level0.active>.level-top, .navigation .level0.has-active>.level-top{    border-width: 1px 1px 0 1px;font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;color: #fff;line-height: normal;border-color:#fff}
.nav-sections{    margin-bottom: 0;    margin-top: 15px;}
.footer.content{    max-width: 100%;padding-top: 0;}
.footer-subscribe{    display: inline-block;
    width: 100%;
    background: #fff;
    text-align: center;padding-bottom: 45px;}
.footer.content .block{    float: none;
    margin: 0 auto;    max-width: none;
}
.news-title h3{font-size: 24px;
    font-weight: normal;
    letter-spacing: -1px;}
.news-title p{    font-size: 16px;}
.news-title{margin-bottom: 15px;}
.block.newsletter .field .control:before{display: none}
.block.newsletter input{height: 45px;    margin-right: 0;
    padding: 0 0 0 15px;    font-size: 13px;
    color: #727272;}
.block.newsletter .form.subscribe{    display: inline-block;
    width: auto;}
.block.newsletter .form.subscribe>.field{width: 400px;}
.block.newsletter input::-webkit-input-placeholder {
    color: #727272;
    font-family: Roboto, sans-serifif;
}
.block.newsletter input:-moz-placeholder {
    color: #727272;
    font-family: Roboto, sans-serif;
}
.block.newsletter input::-moz-placeholder {
    color: #727272;
    font-family: Roboto, sans-serif;
    opacity: 1;
}
.block.newsletter input:-ms-input-placeholder {
    color: #727272;
    font-family: Roboto, sans-serif;
}
.block.newsletter .action.subscribe{    height: 45px;
    width: 110px;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;}
.page-footer{background: #282828;    padding-bottom: 0;}
.footer-main,.footer-main p,.footer-main li,.footer-main a{    color: #fff;font-size: 13px;}
.footer.content ul{    padding: 0;    }
.footer.content .footer1 ul{margin-top: 15px;}
.footer-item.footer1 li{    display: inline-block;}
.footer-main .footer-item {
    padding-left: 0;
    float: left;
    vertical-align: top;
    text-align: left;
    width: 20%;
}
.footer-bottom{    float: right;
    width: 100%;    background: #fff;
    margin-top: 25px;    padding: 15px 0;}
.footer-main{max-width: 1430px;
    padding-left: 0;
    padding-right: 0;    float: none;
    margin: 0 auto;padding-top: 50px;}
.footer.content ul>li{margin-top :5px}
.footer-main .footer-item .title{    text-transform: uppercase;}
.footer-bottom a{    color: #747474;
    font-size: 12px;}
.footer-bottom .footer-credit span{margin-right: 15px;}
.footer-bottom .footer-cards{text-align: center;}
.footer-bottom .copyright-block{    color: #747474;
    font-size: 12px;
    text-align: right;}
.footer-bottom p{margin:0}
body.cms-index-index .page-main{max-width: 100%;    margin-bottom: 30px;}
body.cms-index-index .page-main ul{    padding: 0;
    list-style: none;    margin: 0;}
body.cms-index-index .page-main ul li{float:left;width: 50%}
.navigation ul li.all-category-theme{display: none}
.navigation ul.column-right{    top: 37px;
    left: 0!important;
    position: absolute;
    right: 0;
    background: #fff;display:none;}
.navigation ul.sub-menu{    display: block!important;padding:20px 13.021vw;text-align: left;}
.navigation ul.sub-menu table,.navigation ul.sub-menu table td{border:none}
.navigation ul.sub-menu p{font-weight: normal;margin:0;font-size: 12px;}
.navigation ul.sub-menu strong{font-weight:550}
.navigation ul.sub-menu a{    font-size: 11px;
    text-transform: uppercase;}
.navigation ul.sub-menu em{font-style: normal;color:#888888;margin-bottom: 5px;display:block}
.navigation ul.sub-menu em a{color:#888888}
.navigation ul.sub-menu table,.navigation ul.sub-menu table{height: auto!important;}
