@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,800&subset=hebrew');
body, .action.primary, input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"], p, .table{color: #222222;font-size: 15px;font-family: Roboto, sans-serif;}
._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus{box-shadow: none;}
.header.content a:hover{text-decoration:none}
button:focus{outline: none;}
h1{font-size: 35px;    margin-bottom: 0;text-transform: uppercase;}
.logo-block{text-align: center;}
.logo{    float: none;display: inline-block;    margin: 0;}
.logo img{    width: auto;}
.header-fav a {
    display: block;
    background: url(../images/wish.png) 0 -8px no-repeat;
    padding-top: 0;
    font-weight: 600;
    position: relative;
    width: 27px;
    text-align: center;
    height: auto;
}
.minicart-wrapper .action.showcart {
    background: url(../images/cart.png) 0 -5px no-repeat;
    font-weight: 600;
    padding-top: 0;
    display: block;
    width: 27px;
    height: 30px;    position: relative;
    top: -4px;
}
.minicart-wrapper .action.showcart.active{    display: block;}
.minicart-wrapper{color: #222222;}
.minicart-wrapper .action.showcart:before,.minicart-wrapper .action.showcart.active:before{display:none}
.page-header .switcher{    margin-left: 0;
    margin-right: 0;    font-size: 12px;}
.page-header .panel.wrapper .switcher .options ul.dropdown {
    right: auto;
    left: 0;
}
.page-header .panel.wrapper .switcher .options ul.dropdown:before {
    left: 10px;
    right: auto;
}
.page-header .panel.wrapper .switcher .options ul.dropdown:after {
    left: 9px;
    right: auto;
}
.page-header .panel.wrapper {
    border-bottom: none;
    background-color: transparent;
}
.login-block {
    display: block;
    background: url(../images/user.png) 0 -8px no-repeat;
    padding-top: 0;
    font-weight: 600;
    position: relative;
    width: auto;
    text-align: center;
    height: auto;
    padding-left: 30px;
    margin-right: 20px;line-height: 17px;
}
.block-search .action.search.disabled, .block-search .action.search[disabled], fieldset[disabled] .block-search .action.search,.block-search .action.search:before{opacity: 1;}
.nav-sections{position: relative;
    z-index: 1001;}
.nav-sections,.navigation{background: transparent;}
.navigation ul {
    padding: 0;text-align: center;
}
.navigation .level0{    margin: 0;}
.navigation{    max-width: 100%;    position: static;}
.navigation .level0.parent>.level-top>.ui-menu-icon{    display: none;}
.navigation .level0{    position: static;}
.navigation .level0:hover:after{display:none;}
.nav-sections-item-title{display:none;}
.block.newsletter .form.subscribe{    display: inline-block;
    width: auto;}
@media (max-width:767px){
    .block-search .action.search:before {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 16px;
        line-height: 32px;
        color: #fff;
        content: '\e615';
        font-family: 'luma-icons';
        margin: 0;
        vertical-align: top;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
        opacity: 1;
        float: right;
    }
    .block-search .action.search {
        display: inline-block;
        background-image: none;
        background: none;
        -moz-box-sizing: content-box;
        border: 0;
        box-shadow: none;
        line-height: inherit;
        margin: 0;
        padding: 0;
        text-decoration: none;
        text-shadow: none;
        font-weight: 400;
        position: absolute;
        right: 10px;
        top: 0;
        z-index: 1;
    }
    .block-search input[type="text"]{    position: static;    margin: 0;}
    .block-search .label{    display: none;}
    .block-search .control {
        border-top: none;
        clear: both;
        margin: 0;
        padding: 0;
    }
    .block.newsletter .form.subscribe>.field{    max-width: 65%;    float: left;}
    .block.newsletter .actions{    display: block;width: 35%;float: left;}
    .block.newsletter .form.subscribe{    width: 100%;}
    .block.newsletter .action.subscribe{    width: 100%;}
    .header.content a.logo{max-width: 100%;}
}
.product-info-main .product-info-price .price-box .special-price{float: right;
    margin-left: 10px;}
.product-info-price .price-box .special-price .price-container .price{    color: #ff0000;}
.modal-popup.modal-slide .modal-footer{    display: none;}
.modal-header,.modal-content{border: none;}
.fotorama--fullscreen{    z-index: 1001!important;}
.products-grid .product-item-info:hover, .products-grid .product-item-info.active{    box-shadow: none;
    border: none;
    margin: 0;
    padding: 0;}
/*theme cart*/
.block-minicart .block-content>.actions>.primary .action.primary{text-transform: uppercase;
    font-weight: normal;}
.checkout-cart-index .page-title-wrapper .page-title {
    border-bottom: none;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}
.checkout-cart-index .page-title-wrapper a {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 15px;
    font-weight: 550;
    text-decoration: underline;
}
.cart.table-wrapper .cart thead tr th.col {
    border-top: none;
    border-bottom: 1px solid #e6e6e6;
    vertical-align: top;
    font-weight: 550;
    text-transform: uppercase;
    font-size: 13px;
    width: 30%;
    text-align: left;
}
.cart.table-wrapper .product-image-container{max-width:180px;}
.cart.table-wrapper .col.price .cart-price,.col.qty, .cart.table-wrapper .col.subtotal .cart-price{    font-size: 17px;
    line-height: normal;
    color: #282828;
    font-weight: 550;}
.cart.table-wrapper .col.price .cart-price .special-price{margin-left: 10px;
    color: #ff0000;}
.cart.table-wrapper .col.price .cart-price .regular-price{    text-decoration: line-through;}
@media (min-width: 768px) {
    .cart.table-wrapper .cart thead tr th.col.item {
        width: 60%;
    }
}
.cart.table-wrapper .cart>.item{border-top: none;border-color:#e6e6e6;}
.cart.table-wrapper .col.price .price-excluding-tax .price{    font-weight: 300;}
