@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,800&subset=hebrew');
body, .action.primary, input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"], p, .table{color: #222222;font-size: 15px;font-family: Roboto, sans-serif;}
._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus{box-shadow: none;}
.header.content a:hover{text-decoration:none}
.mark, mark{background-color: transparent;}
.slick-initialized .slick-slide{vertical-align: top;}
button:focus{outline: none;}
h1{font-size: 35px;    margin-bottom: 0;text-transform: uppercase;}
.logo-block{text-align: center;}
.logo{    float: none;display: inline-block;    margin: 0;}
.logo img{    width: auto;}
.header-fav a {
    display: block;
    background: url(../images/wish.png) 0 -8px no-repeat;
    padding-top: 0;
    font-weight: 600;
    position: relative;
    width: 27px;
    text-align: center;
    height: auto;
}
.minicart-wrapper .action.showcart {
    background: url(../images/cart.png) 0 -5px no-repeat;
    font-weight: 600;
    padding-top: 0;
    display: block;
    width: 27px;
    height: 30px;    position: relative;
    top: -4px;
}
.minicart-wrapper .action.showcart.active{    display: block;}
.minicart-wrapper{color: #222222;}
.minicart-wrapper .action.showcart:before,.minicart-wrapper .action.showcart.active:before{display:none}
.page-header .switcher{    margin-left: 0;
    margin-right: 0;    font-size: 12px;}
.page-header .panel.wrapper .switcher .options ul.dropdown {
    right: auto;
    left: 0;
}
.page-header .panel.wrapper .switcher .options ul.dropdown:before {
    left: 10px;
    right: auto;
}
.page-header .panel.wrapper .switcher .options ul.dropdown:after {
    left: 9px;
    right: auto;
}
.page-header .panel.wrapper {
    border-bottom: none;
    background-color: transparent;
}
.login-block {
    display: block;
    background: url(../images/user.png) 0 -8px no-repeat;
    padding-top: 0;
    font-weight: 600;
    position: relative;
    width: auto;
    text-align: center;
    height: auto;
    padding-left: 30px;
    margin-right: 20px;line-height: 17px;
}
.block-search .action.search.disabled, .block-search .action.search[disabled], fieldset[disabled] .block-search .action.search,.block-search .action.search:before{opacity: 1;}
.nav-sections{position: relative;
    z-index: 1001;}
.nav-sections,.navigation{background: transparent;}
.navigation ul {
    padding: 0;text-align: center;
}
.navigation .level0{    margin: 0;}
.navigation{    max-width: 100%;    position: static;}
.navigation .level0.parent>.level-top>.ui-menu-icon{    display: none;}
.navigation .level0{    position: static;}
.navigation .level0:hover:after{display:none;}
.nav-sections-item-title{display:none;}
.block.newsletter .form.subscribe{    display: inline-block;
    width: auto;}
@media (max-width:767px){
    .block-search .action.search:before {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 16px;
        line-height: 32px;
        color: #fff;
        content: '\e615';
        font-family: 'luma-icons';
        margin: 0;
        vertical-align: top;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
        opacity: 1;
        float: right;
    }
    .block-search .action.search {
        display: inline-block;
        background-image: none;
        background: none;
        -moz-box-sizing: content-box;
        border: 0;
        box-shadow: none;
        line-height: inherit;
        margin: 0;
        padding: 0;
        text-decoration: none;
        text-shadow: none;
        font-weight: 400;
        position: absolute;
        right: 10px;
        top: 0;
        z-index: 1;
    }
    .block-search input[type="text"]{    position: static;    margin: 0;}
    .block-search .label{    display: none;}
    .block-search .control {
        border-top: none;
        clear: both;
        margin: 0;
        padding: 0;
    }
    .block.newsletter .form.subscribe>.field{    max-width: 65%;    float: left;}
    .block.newsletter .actions{    display: block;width: 35%;float: left;}
    .block.newsletter .form.subscribe{    width: 100%;}
    .block.newsletter .action.subscribe{    width: 100%;}
    .header.content a.logo{max-width: 100%;}
}
.product-info-main .product-info-price .price-box .special-price{float: right;
    margin-left: 10px;}
.product-info-price .price-box .special-price .price-container .price{    color: #ff0000;}
.product-item .old-price{text-decoration: line-through;}
.modal-popup.modal-slide .modal-footer{    display: none;}
.modal-header,.modal-content{border: none;}
.fotorama--fullscreen{    z-index: 1001!important;}
.products-grid .product-item-info:hover, .products-grid .product-item-info.active{    box-shadow: none;
    border: none;
    margin: 0;
    padding: 0;}
/*theme cart*/
.block-minicart .block-content>.actions>.primary .action.primary{text-transform: uppercase;
    font-weight: normal;}
.checkout-cart-index .page-title-wrapper .page-title {
    border-bottom: none;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}
.checkout-cart-index .page-title-wrapper a {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 15px;
    font-weight: 550;
    text-decoration: underline;
}
.cart.table-wrapper .cart thead tr th.col {
    border-top: none;
    border-bottom: 1px solid #e6e6e6;
    vertical-align: top;
    font-weight: 550;
    text-transform: uppercase;
    font-size: 13px;
    width: 30%;
    text-align: left;
}
.cart.table-wrapper .product-image-container{max-width:100%;}
.cart.table-wrapper .product-item-photo{    display: inline-block;    width: 30%;padding-right: 5px;}
.cart.table-wrapper .product-item-details{    width: 65%;    display: inline-block;}
.cart.table-wrapper .col.price .cart-price,.col.qty, .cart.table-wrapper .col.subtotal .cart-price{    font-size: 17px;
    line-height: normal;
    color: #282828;
    font-weight: 550;}
.cart.table-wrapper .col.price .cart-price .special-price{margin-left: 10px;
    color: #ff0000;}
.cart.table-wrapper .col.price .cart-price .regular-price{    text-decoration: line-through;}
/*Cart page*/
.checkout-cart-index .page-main {
    padding-left: 80px;
    padding-right: 80px;
    max-width: 100%;
}
@media only screen and (max-width: 1400px) {
    .checkout-cart-index .page-main{    padding-left: 15px;
        padding-right: 15px;}
}
.checkout-cart-index .page-main .container{max-width: 100%;}
.cart.table-wrapper .col.price, .order-items.table-wrapper .col.price, .cart.table-wrapper .col.qty, .order-items.table-wrapper .col.qty, .cart.table-wrapper .col.subtotal, .order-items.table-wrapper .col.subtotal, .cart.table-wrapper .col.msrp, .order-items.table-wrapper .col.msrp {
    text-align: left;
}
.cart.table-wrapper .product-item-name{    font-size: 16px;
    font-weight: 300;    margin: 0 0 5px;}
.cart.table-wrapper .item-options dt{    font-size: 13px;
    font-weight: 300;
    display: inline-block;}
.cart.table-wrapper .item-options dd{    margin-left: 0;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    margin-right: 0;}
.cart.table-wrapper .sku{font-size: 13px;
    font-weight: 300;    margin: 0 0 5px;}
.cart .qty-block div {
    border: 1px solid #e6e6e6;
    float: left;
    width: 30px;
    max-width: 30px;
    height: 35px;
    font-size: 17px;
    text-align: center;
}
.cart .qty-block div.btn-wrap.first {
    border-right: none;
}
.cart .qty-block div a {
    display: block;
    padding-top: 7px;
    font-weight: 300;
}
.cart-table .qty {
    width: 100%;
    text-align: center;
    border: none;
    padding: 0;
    height: 100%;
}
.cart .qty-block div.btn-wrap.last {
    border-left: none;
}
.cart.table-wrapper .col.qty .field.qty{    width: 300px;}
.cart.table-wrapper .col.qty .input-text {
    height: 31px;
    margin-top: 0;
    text-align: center;
    width: 100%;
    border: none;
    font-size: 13px;
    padding: 0;
}
.cart.table-wrapper .actions-toolbar>.action-edit, .cart.table-wrapper .actions-toolbar>.action-delete{position: static;margin: 0 10px;}
.cart.table-wrapper .actions-toolbar{    width: 80px;
    padding: 0;}
@media (min-width: 768px) {
    .cart.table-wrapper .cart thead tr th.col.item {
        width: 60%;
    }
}
@media (max-width: 991px) {
    .cart-container .form-cart{width: 100%;padding-right: 0;}
    .cart-summary{width: 100%;}
}
@media (max-width:767px) {
    .checkout-cart-index .page-main{    padding-left: 0;padding-right: 0;}
    .checkout-cart-index .page-main .column.main{padding: 0;}
    .checkout-cart-index .page-title-wrapper{    padding-left: 0;padding-right: 0;}
    .checkout-cart-index .page-title-wrapper a{margin: 15px 0;}
    .cart.table-wrapper .cart>.item{    border-color: #e6e6e6;
        border-top: none;
        display: inline-block;
        width: 100%;
        padding: 0 0 15px;
        position: relative;    width: 100%;}
    .cart.table-wrapper .product-item-photo{position: static;}
    .cart.table-wrapper .product-item-details{    vertical-align: top;}
    .cart.table-wrapper .col.price, .cart.table-wrapper .col.subtotal{width: 28%;}
    .cart.table-wrapper .item .col.item{    padding: 15px 0;}
    .cart.table-wrapper .col.qty{    width: 38%;}
    .cart-summary{padding: 15px;}
    .cart-summary .block .conten{padding: 0;}
    .cart-summary .fieldset .actions-toolbar{    top: 0px;}
    .cart.table-wrapper .item .col.action{    position: absolute;
        top: 15px;
        right: 0px;
        display: block;
        width: auto;
        padding: 0;}
    .cart.table-wrapper .actions-toolbar>.action-edit, .cart.table-wrapper .actions-toolbar>.action-delete{    position: static;
        margin: 0 0 15px;
        display: block;}
    .cart.table-wrapper .actions-toolbar{    width: auto;}
    .cart.table-wrapper thead{display: none;}
}
.cart.table-wrapper .cart>.item{border-top: none;border-color:#e6e6e6;}
.cart.table-wrapper .col.price .price-excluding-tax .price{    font-weight: 300;}
.block-minicart .items-total{    margin: 0;}
.block-minicart .subtotal{margin: 0;}
/*checkout*/
.checkout-index-index .authentication-wrapper {
    display: none;
}
.checkout-index-index .am-checkout:not(.-modern) {
    background: transparent;
}
.checkout-index-index .checkout-header {
    margin: 0;
    padding:20px 60px;
    width: 100%;
    background: #282828;
    color: #fff;
}
.checkout-index-index .checkout-header .logo{    display: block;
    margin: 3px auto;}
.checkout-index-index .checkout-header .logo img{    margin: 0 auto;}
.checkout-index-index .header.content{    padding: 0;}
.checkout-index-index .page-main{    width: 100%;
    max-width: 100%;
    padding: 0;    margin: 0;}
.checkout-index-index .am-checkout {
    margin: 0;
    padding: 0;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper{     padding-left: 60px;
    padding-right: 60px;
    margin: 30px auto;}
.checkout-top-support p{    margin: 0;
    padding-top: 10px;
    color: #fff;
    background: url(../images/checkout-phone.png) 0 10px no-repeat;
    display: inline-block;
    float: right;
    padding-left: 25px;
}
.checkout-index-index .checkout-block {
    margin: 0;
    padding: 0 30px;
    background: #fff;
    box-shadow: none;
    -webkit-transition: 0;
    -moz-transition: 0;
    -ms-transition: 0;
    transition: 0;}
.checkout-index-index .checkout-block:hover {
    box-shadow: none;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper input[type=email], .checkout-index-index .opc-wrapper.am-opc-wrapper input[type=password], .checkout-index-index .opc-wrapper.am-opc-wrapper select, .checkout-index-index .opc-wrapper.am-opc-wrapper input[type=tel], .checkout-index-index .opc-wrapper.am-opc-wrapper input[type=text]{    height: 45px;
    margin: 0;
    width: 100%;}
.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-shipping-address .primary{    padding: 5px 10px;
    margin: 0;}
.billing-address-form .fieldset>.field>.label{    font-weight: 400;}
.opc-wrapper .step-title, .opc-block-shipping-information .shipping-information-title, .opc-block-summary>.title, .checkout-agreements-items .checkout-agreements-item-title{padding-left: 50px;position: relative; font-size: 20px;}
.checkout-shipping-address .step-title:before {
    content: "1.";
    width: 41px;
    height: 41px;
    display: block;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
    background: #282828;
    color: #fff;
    padding-top: 0;
    font-weight: normal;
    line-height: 41px;
}
.checkout-shipping-method .step-title:before {
    content: "2.";
    width: 41px;
    height: 41px;
    display: block;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
    background: #282828;
    color: #fff;
    padding-top: 0;
    font-weight: normal;
    line-height: 41px;
}
.opc-payment .step-title:before {
    content: "3.";
    width: 41px;
    height: 41px;
    display: block;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
    background: #282828;
    color: #fff;
    padding-top: 0;
    font-weight: normal;
    line-height: 41px;
}
.opc-block-summary .step-title:before {
    content: "";
    background: url(../images/CART.svg) right 0 no-repeat;
    position: absolute;
    width: 33px;
    height: 35px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 0;
    left: 0;
}
.payment-group .step-title{    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}
.checkout-index-index .opc-block-summary {
    margin: 0;
    padding: 0;
    background: transparent;
}
.opc-payment{    margin-top: 30px;}
.checkout-index-index #opc-shipping_method #checkout-shipping-method-load .table-checkout-shipping-method {
    max-width: 100%;
}
.table-checkout-shipping-method tbody tr {
    margin: 0;
    margin-bottom: 15px;
}
.table-checkout-shipping-method tbody td, .table-checkout-shipping-method tbody td:first-child {
    display: inline-block;
    padding: 0;
    width: auto;
    flex-basis: unset;
    border: none;
    padding-bottom: 0;
    flex-grow: unset;
    padding-left: 0;
    margin-right: 0;
    width: 100%;
    padding-right: 0;
}
.table-checkout-shipping-method tbody td.col-method{padding-left: 30px;
    padding-top: 3px;}
.table-checkout-shipping-method tbody td:first-child{padding-left: 0;}
.table-checkout-shipping-method tbody td.col-price{display: none;}
.table-checkout-shipping-method tbody td:first-child {
    margin-right: 0;
    width: 10%;
    position: absolute;
    padding-right: 0;
    left: 0;
}
.checkout-shipping-method .amcheckout-wrapper{    padding-top: 25px;}
.table-checkout-shipping-method tbody td:first-child {
    margin-right: 0;
    width: 10%;
}
.opc-wrapper input[type=radio] {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}
.opc-wrapper .form-login{padding-bottom: 0;}
.checkout-index-index .opc-block-summary .minicart-items .product-image-container{margin-left: 0;height: auto!important;}
.page-main .cart-summary .block{    display: none;}
.page-main .cart-summary .block.for-coupon{display: block;}
.page-main .cart-summary .block.for-coupon .content{    display: block!important;}
.page-main .cart-summary .block.for-coupon .content input[type="text"]{height: 45px;}
.cart-summary .fieldset .actions-toolbar{    position: absolute;
    top: 5px;
    right: 0;
    width: 15%;    min-width: 80px;}
.cart-summary .block .actions-toolbar>.primary{    width: 100%;}
.cart-summary .block .actions-toolbar>.primary button{    padding: 0;
    height: 45px;
    width: 100%;
    border: none;
    background: #282828;
    color: #fff;
    font-weight: 400;}
.cart-summary{    top: 0!important;}
.cart.table-wrapper .items{    table-layout: fixed;    width: 100%;}
.block.crosssell .amquickview-hover{display: none!important;}
.product-options-bottom .price-box .old-price, .product-info-price .price-box .old-price{    text-decoration: line-through;}
.filter-options-content .count{display: none;}
.filter-options-content a{    margin-right: 0;padding-left: 0;padding-right: 0;}
.filter-options [class*='am-filter-items-'].am-labels-folding .item:not(.swatch-option-link-layered) input[type='checkbox']{position: relative;top: 0;left: 0;margin: 0 5px 0 0;}
.checkout-payment-method .payment-option-inner {
    margin: 0;    display: inline-block;
    width: 100%;
}
.checkout-payment-method .payment-option-content .form-discount{    display: inline-block;width: 100%;position: relative;}
.checkout-payment-method .payment-option-content .form-discount .actions-toolbar{position: absolute;
    right: 0;
    width: auto;top: 0;    max-width: 110px;}
.checkout-payment-method .payment-option-content .form-discount .actions-toolbar .primary .action{    padding: 0 25px;
    height: 45px;
    width: 100%;
    border: none;
    background: #282828;
    color: #fff;
    font-weight: 400;}
@media only screen and (max-width: 1400px) {
    .checkout-index-index .opc-wrapper.am-opc-wrapper{    padding-left: 15px;
        padding-right: 15px;}
}
@media only screen and (max-width: 767px) {
    .checkout-index-index .checkout-header {
        padding: 20px 15px;
    }
    .opc-estimated-wrapper{    display: none;}
    .checkout-index-index .opc-wrapper.am-opc-wrapper{    padding-left: 15px;
        padding-right: 15px;margin-top: 80px;}
    .checkout-index-index .checkout-block{padding: 0;}
    .opc-wrapper .form-login, .opc-wrapper .form-shipping-address, .opc-wrapper .methods-shipping{    background: transparent;
        margin: 20px 0 15px;
        padding: 20px 0;}
    .opc-wrapper .form-login .actions-toolbar>.secondary{text-align: left;}
    .opc-wrapper .step-title{    border-bottom: 1px solid #ccc;
        margin-bottom: 15px;    padding-bottom: 10px;}
    .checkout-shipping-method .amcheckout-wrapper{    padding-top: 0;}
    .opc-wrapper .form-login, .opc-wrapper .form-shipping-address, .opc-wrapper .methods-shipping{border: none;}
    .checkout-payment-method .payment-methods{    margin: 0;}
    .opc-wrapper .form-login+.form-shipping-address{margin-top: -50px;}
    .checkout-index-index .checkout-header h1{    position: absolute;
        top: 110px;
        color: #222222;}
    .checkout-top-support p{float: none;    margin: 0 auto;}
    .checkout_contact{margin-top: 10px;
        text-align: center;}
    .navigation .level0.active>a:not(.ui-state-active) span:not(.ui-menu-icon), .navigation .level0.has-active>a:not(.ui-state-active) span:not(.ui-menu-icon){    margin-left: 0;}
}
