<?xml version="1.0"?>
<!--
/**
 * @category   MagePsycho
 * @package    MagePsycho_ShipTo
 * @author     Raj KB <magepsycho@gmail.com>
 * @website    https://www.magepsycho.com
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="shipto" xsi:type="string">MagePsycho\ShipTo\CustomerData\Shipto</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="MagePsycho_ShipTo_Plugin_Block_Checkout_SetDefaultValuesPlugin"
                type="MagePsycho\ShipTo\Plugin\Block\Checkout\SetDefaultValuesPlugin" />
    </type>
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="MagePsycho_ShipTo_Plugin_Model_Checkout_SetDefaultCountryPlugin"
                type="MagePsycho\ShipTo\Plugin\Model\Checkout\SetDefaultCountryPlugin" />
    </type>
    <type name="Magento\Tax\Model\TaxConfigProvider">
        <plugin name="MagePsycho_ShipTo_Plugin_Model_Tax_SetDefaultCountryPlugin"
                type="MagePsycho\ShipTo\Plugin\Model\Tax\SetDefaultCountryPlugin" />
    </type>
    <preference for="Magento\Directory\Helper\Data" type="MagePsycho\ShipTo\Helper\Preference\Directory\Data" />

</config>
